# Members of group 56
Martin Skatvedt <martskat@stud.ntnu.no> <martinskatvedt@gmail.com>
Egil Hagen <egilhage@stud.ntnu.no>
Martine Malmo Knutsen <martimkn@stud.ntnu.no>
Eiril Solveig Ugulen <eirilsu@stud.ntnu.no> <eirilsu@ntnu.no>
